<div class="list-group-item list-group-item-action align-items-center <%= task.state %> <%= (task.closed? && !show_closed_tasks?) ? 'd-none' : 'd-flex'%>">
  <div class='flex-grow-1'>
    <span><%= task.description %></span>
    <span class="badge badge-<%= task.state %>"><%= task.state %></span>
  </div>

  <div>
    <%- task.priorities.each do |priority| %>
      <span class="mr-1 badge badge-<%= Task::WEIGHTED_PRIORITY[priority] %>"><%= Task::WEIGHTED_PRIORITY[priority] %></span>
    <% end %>
  </div>

  <%= link_to_if !task.closed?, task.state_action, task, class: 'btn btn-primary mx-2', remote: true, method: :patch %>

  <%= link_to task, remote: true, method: :delete do %>
    <button type="button" class="close ml-1" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  <% end %>
</div>
