<%-
  f = local_assigns.fetch :f, nil
%>

<div class="input-group form-group">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fas fa-user"></i></span>
  </div>
  <%- if f %>
    <%= f.text_field :username, class: "form-control", placeholder: 'username' %>
  <% else %>
    <%= text_field_tag :username, nil, class: "form-control", placeholder: 'username' %>
  <% end %>
</div>

<div class="input-group form-group">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fas fa-key"></i></span>
  </div>
  <%- if f %>
    <%= f.password_field :password, class: "form-control", placeholder: 'password' %>
  <% else %>
    <%= password_field_tag :password, nil, class: "form-control", placeholder: 'password' %>
  <% end %>
</div>
<%- if f %>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-key"></i></span>
    </div>
    <%= f.password_field :password_confirm, class: "form-control", placeholder: 'password' %>
  </div>
<% end %>

<div class="form-group d-flex justify-content-between">
  <%= link_to f ? 'login' : 'register', f ? login_path : register_path, class: 'btn btn-outline-primary' %>
  <% if f %>
    <%= f.submit f ? 'register' : 'login', class: 'btn btn-outline-dark' %>
  <% else %>
    <%= submit_tag 'login', class: 'btn btn-outline-dark' %>
  <% end %>
</div>