<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
      <div class='nav bg-light align-items-center'>
        <h2 class='p-3 flex-grow-1'>Backlog</h2>
        <div class='pr-3'>Hi, <%= current_user.username %></div>
        <%= link_to  "Logout", '/', class: 'mr-4 btn btn-light border' %>
      </div>
      <%= render 'shared/messages' %>
      <%= yield %>
    </section>
  </body>
</html>
